html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	background-color: #191919;
	color: #4FBDBA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav Bar Styles */

#nav {
	display: flex;
	align-items: center;
	background-color: rgba(25, 25, 25, 0.6);
	backdrop-filter: blurred;
	position: sticky;
	top: 0;
	z-index: 2;
	height: 5vh;
	border-bottom: 2px solid #4FBDBA;
	backdrop-filter: blur(6px);
}

.name-nav {
	padding-left: 1%;
	width: 25%;
	font-size: 1.5rem;
	color: white;
}

.link-nav {
	width: 75%;
	display: flex;
	justify-content: end;
}

.nav-a {
	color: white;
	margin-right: 3%;
	text-decoration: none;
	display: inline-block;
	position: relative;
}

.home-link {
	text-decoration: none;
	color: white;
}

.nav-a:after {
	content: "";
	width: 100%;
	position: absolute;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #4FBDBA;
	transform-origin: bottom;
	transition: 0.4s ease-in-out;
}

.nav-a:hover:after {
	transform: scaleX(1);
	transform-origin: center;
}

/* Home Page Styles */

h1 {
	font-size: 7rem;
	padding-bottom: 1%;
}

h3, p {
	font-size: 2rem;
}

h4 {
	font-size: 2rem;
}

.underline {
	border-bottom: 1.5px solid white;
}

.home-page {
	background-color: #191919;
	height: 110vh;
}

.intro-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* About Styles */

.about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.my-pic {
	width: 30%;
	border-radius: 3px;
}

.about-div {
	padding: 2% 0;
	display: flex;
	justify-content: center;
}

.my-text {
	width: 30%;
	padding: 2% 2%;
}

.my-text, p {
	font-size: 1.25rem;
	line-height: 1.5;
}

.text-link {
	text-decoration: none;
	color: white;
	
}

.tech-div {
	margin-top: 1%;
	border: 1px solid #4FBDBA;	
	width: 40%;
}

.tech-stack {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.t-d {
	width: 20%;
	padding: 1%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.t-d img {
	width: 50%;
}

/* Project Styles */

.projects-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 30%;
}

.projects-section h3 {
	display: inline-block;
}

.projects {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding-top: 1%;
}

.project-div {
	display: flex;
	justify-content: center;
	width: 25%;
}

.project-div img {
	width: 100%;
	border: .25px solid #4FBDBA;
	border-radius: 2px;
}

/* Footer Styles */

.footer {
	background-color: #191919;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #4FBDBA;
	height: 6vh;
	width: 100%;
}

.footer-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 30%;
}

.footer-a {
	width: 8%;
}

.footer-link {
	width: 100%;
}