html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Roboto', sans-serif;
	color: #4FBDBA;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav Bar Styles */

#nav {
	display: flex;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
	z-index: 2;
	height: 5vh;
	border-bottom: 2px solid #4FBDBA;
}

.name-nav {
	padding-left: 1%;
	width: 25%;
	font-size: 1.5rem;
	color: #191919;
}

.link-nav {
	width: 75%;
	display: flex;
	justify-content: end;
}

.nav-a {
	color: #191919;
	margin-right: 2%;
	text-decoration: none;
	display: inline-block;
	position: relative;
}


.nav-a:after {
	content: "";
	width: 100%;
	position: absolute;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #4FBDBA;
	transform-origin: bottom;
	transition: 0.4s ease-in-out;
}

.nav-a:hover:after {
	transform: scaleX(1);
	transform-origin: center;
}

/* Home Page Styles */

h1 {
	font-size: 5rem;
}

p {
	font-size: 1.5rem;
}

.underline {
	border-bottom: 1.5px solid white;
}

.home-page {
	background-color: #191919;
	height: 100vh;
}

.btn {
	background-color: #191919;
	border: 1px solid #4FBDBA;
	border-radius: 4px;
	color: white;
	padding: .5%;
}

.btn:hover {
	background-color: #302f2f;
	border: 2px solid #4FBDBA;
	border-radius: 4px;
	color: white;
	padding: .5%;
}