html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Montserrat', sans-serif;
	background-color: #191919;
	color: #5ddad6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Nav Bar Styles */

#nav {
	display: flex;
	align-items: center;
	background-color: rgba(25, 25, 25, 0.6);
	backdrop-filter: blurred;
	position: sticky;
	top: 0;
	z-index: 3;
	height: 5vh;
	border-bottom: 2px solid #5ddad6;
	backdrop-filter: blur(6px);
}

.name-nav {
	padding-left: 1%;
	width: 25%;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}

.link-nav {
	width: 75%;
	display: flex;
	justify-content: flex-end;
}

.nav-a {
	color: white;
	margin-right: 3%;
	text-decoration: none;
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.home-link {
	text-decoration: none;
	color: white;
}

.nav-a:after {
	content: "";
	width: 100%;
	position: absolute;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #5ddad6;
	transform-origin: bottom;
	transition: 0.4s ease-in-out;
}

.nav-a:hover:after {
	transform: scaleX(1);
	transform-origin: center;
}

/* Home Page Styles */

h1 {
	font-size: 7rem;
	padding-bottom: 1%;
}

h3, p {
	font-size: 2rem;
}

h4 {
	font-size: 2rem;
}

.underline {
	border-bottom: 1.5px solid white;
}

.home-page {
	background-color: #191919;
	height: 110vh;
}

.intro-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* About Styles */

.about-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-bottom: 15%;
}

.my-pic {
	width: 40%;
	border-radius: 3px;
}

.about-div {
	padding: 2% 0;
	display: flex;
	justify-content: center;
}

.my-text {
	width: 30%;
	padding: 2% 2%;
}

.my-text, p {
	font-size: 1.25rem;
	line-height: 1.5;
}

.text-link {
	text-decoration: none;
	color: white;
	
}

.tech-div {
	margin-top: 1%;
	border: 1px solid #5ddad6;	
	width: 50%;
}

.tech-stack {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.t-d {
	width: 20%;
	padding: 1%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.t-d img {
	width: 50%;
}

/* Project Styles */

.projects-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	margin-bottom: 15%;
	padding-top: 0;
}

.projects-section h3 {
	display: inline-block;
}

.projects {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	padding-top: 2%;
}

.project-div {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 25%;
	height: 100%;
	cursor: pointer;
	border: 2px solid #5ddad6;
	border-radius: 6px;
	padding: 0;
	box-shadow: 1px 1px 20px 5px #3f3f3f;
}

.project-div:hover {
	box-shadow: 1px 1px 20px 5px #5ddad6;
}

.project-div h5, p {
	padding: 1%;
}

.project-div img {
	width: 100%;
	border-bottom: 1px solid #5ddad6;
	border-radius: 4px;
	margin-bottom: 1%;
}

.span {
	color: white;

}

h5 {
	font-size: 1.75rem;
	color: white;
	margin-bottom: 2%;
}

/* Project Modal Styles */

.background-div {
	width: 100%;
	height: 100%;
	background-color: rgba(25, 25, 25, 0.8);
	backdrop-filter: blur(2px);
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.modal-container {
	height: 80%;
	width: 50%;
	border: 2px solid #5ddad6; 
	border-radius: 5px;
	background-color: #191919;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	text-align: center;
}

.modal-pic {
	border: .2px solid white;
	width: 80%;
	margin-bottom: 1%;
}

.modal-tech {
	font-size: 1rem;
}

.button-cont {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0;
}

.modal-button {
	background-color: #191919;
	color: white;
	border: none;
	font-weight: bold;
	font-size: 1.5rem;
	width: 3%;
	cursor: pointer;
}

.modal-description {
	color:#5ddad6;
	width: 85%;
	line-height: 1.25;
}

.modal-role {
	padding: 0;
}

.modal-title {
	color: #5ddad6;
	border-bottom: 1px solid white;
}

.go-button {
	background-color: #191919;
	color: white;
	border: 1px solid white;
	font-size: 1.25rem;
	border-radius: 3px;
	cursor: pointer;
	text-decoration: none;
	width: 5%;
	padding: .5%;
}

.go-button:hover {
	background-color: #474747;
	animation: forwards;
	animation-duration: 1s;
}

/* Footer Styles */

.footer {
	background-color: #191919;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 2px solid #5ddad6;
	height: 7vh;
	width: 100%;
}

.footer-div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 30%;
}

.footer-a {
	width: 7%;
}

.footer-link {
	width: 100%;
}

/* Mobile Media Queries */ 

@media (max-width: 480px) {

	/* Nav Styles */
	body {
		width: 100%;
	}
	
	.name-nav {
		padding-left: 3%;
		font-size: 1.25rem;
	}
	
	.nav-a {
		font-size: .9rem;
	}

	/* Home Styles */
	h1 {
		font-size: 4rem;
		padding-bottom: 3%;
	}
	
	h3, p, h4 {
		font-size: 1.2rem;
	}

	.home-page {
		height: 100vh;
		padding: 0%;
	}
	
	.intro-container {
		text-align: center;
	}

	/* About Styles */
	.about-section {
		align-items: center;
		height: 100vh;
		margin-bottom: 15%;
	}
	
	.my-pic {
		width: 90%;
		border-radius: 3px;
	}
	
	.about-div {
		flex-direction: column;
		align-items: center;
	}
	
	.my-text {
		width: 90%;
	}
	
	.my-text, p {
		font-size: 1rem;
		line-height: 1.5;
	}

	.tech-div {
		width: 90%;
	}
	
	.t-d p {
		font-size: .75rem;
	}
	
	.t-d img {
		width: 40%;
	}

	/* Projects Style */
	.projects-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 120vh;
	}
	
	.projects {
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 2%;
	}
	
	.project-div {
		width: 80%;
		height: 80%;
		border: 1.5px solid #5ddad6;
		margin-top: 5%;
	}

	h5 {
		font-size: 1.5rem;
		margin-bottom: 1%;
	}

	/* Project Modal Styles */
	.background-div { 
		height: 120%;
	}

	.modal-container {
		height: 60%;
		width: 70%;
	}
	
	.modal-pic {
		width: 100%;
		border: none;
		border-top: .25px solid white;
		border-bottom: .25px solid white;
	}
	
	.modal-tech {
		font-size: .8rem;
	}
	
	.button-cont {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 0;
	}
	
	.modal-button {
		width: 10%;
	}
	
	.modal-description {
		padding: 5%;
		line-height: 1.5;
	}
	
	.modal-role {
		padding-top: 2%;
	}
	
	.go-button {
		width: 15%;
	}

	/* Footer Styles */	
	.footer-div {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 70%;
	}
	
	.footer-a {
		width: 10%;
	}

}

/* Tablet Media Query */

@media (max-width: 768px) {
	/* Home Styles */
	h1 {
		font-size: 6rem;
		padding-bottom: 3%;
	}
	
	h3, p, h4 {
		font-size: 1.5rem;
	}
	
	.intro-container {
		text-align: center;
	}

	/* About Styles */
	.about-section {
		align-items: center;
		height: 120vh;
		margin-bottom: 15%;
	}
	
	.my-pic {
		width: 90%;
		border-radius: 3px;
	}
	
	.about-div {
		flex-direction: column;
		align-items: center;
	}
	
	.my-text {
		width: 90%;
	}
	
	.my-text, p {
		font-size: 1rem;
		line-height: 1.5;
	}

	.tech-div {
		width: 90%;
	}
	
	.t-d p {
		font-size: .75rem;
	}
	
	.t-d img {
		width: 40%;
	}

	/* Projects Style */
	.projects-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 180vh;
	}
	
	.projects {
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 2%;
	}
	
	.project-div {
		width: 80%;
		height: 80%;
		border: 1.5px solid #5ddad6;
		margin-top: 5%;
	}

	h5 {
		font-size: 1.5rem;
		margin-bottom: 1%;
	}

	/* Project Modal Styles */
	.background-div { 
		height: 120%;
	}

	.modal-container {
		height: 60%;
		width: 70%;
	}
	
	.modal-pic {
		width: 100%;
		border: none;
		border-top: .25px solid white;
		border-bottom: .25px solid white;
	}
	
	.modal-tech {
		font-size: .8rem;
	}
	
	.button-cont {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding: 0;
	}
	
	.modal-button {
		width: 10%;
	}
	
	.modal-description {
		padding: 5%;
		line-height: 1.5;
	}
	
	.modal-role {
		padding-top: 2%;
	}
	
	.go-button {
		width: 15%;
	}

	/* Footer Styles */	
	.footer-div {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 70%;
	}
	
	.footer-a {
		width: 10%;
	}
}
